.navbar.center {
    text-align: center;
}
.navbar.center .nav {
    float: none;
    display:inline-block;
    vertical-align: top;
}

ul.nav li {
  margin: 0 30px 0 30px;
}

.jumbotron {
  background-image: url(../img/island.jpg);
  color: white;
}

h1 {
  text-align: center;
}

body {
  padding-top: 80px;
  font-variant: small-caps;
}

.navbar {
  background-color: white;
}

img {
  padding-bottom: 10px;
}

a {
  text-transform: uppercase;
}
