.jumbotron {
  background-image: url(../img/island.jpg);
  box-shadow: 10px 5px 5px gray;
}

h1 {
  text-align: center;
}

body {
  padding-top: 50px;
  font-variant: small-caps;
}

.navbar {
  background-color: white;
}

img {
  padding-bottom: 10px;
}

a {
  text-transform: uppercase;
}
