.navbar.center {
    text-align: center;
}
.navbar.center .nav {
    float: none;
    display:inline-block;
    vertical-align: top;
}

ul.nav li {
  margin: 0 30px 0 30px;
}

.jumbotron {
  background-image: url(../img/island.jpg);
  color: white;
}

h1 {
  text-align: center;
}

body {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e5e5ff;
}

.navbar {
  background-color: white;
}

img {
  padding-bottom: 10px;
}

a {
  text-transform: uppercase;
}

/* media queries */

@media screen and (max-width:768px) {
  body {
    padding-top: 210px;
  }

  p.info {
   text-align: center;
  }
}

/* COOL! */
